# VSCode
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
  
# Private Node Modules
node_modules/
creds.js
 
# Mac/OSX
.DS_Store
 
# C extensions
*.so
 
# Distribution / packaging
build/
#dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
MANIFEST
 
# Unit test / coverage reports
playwright-report/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
 
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
 
 
# mkdocs documentation
/site
