$primary: #00BB00;
$success: $primary;
$nav-link-color: $primary;
$nav-link-hover-color: #00FF00;
$card-cap-color: $primary;
$body-color: $primary;

@import "~bootstrap/scss/bootstrap";

* {
	font-family: Consolas, "Courier New", Courier, monospace;
}

body {
	background-color: black;
}

#Nav {
	li.nav-item {
		a {
			display: inline-flex;
		}

		a:first-of-type {
			padding-right: 8px;

			&+a {
				padding-left: 4px;
				margin-left: 2px;
			}
		}
	}
}

.card {
	min-width: 380px;
}

#Mazes {
	#MazesForm {

		.maze-table {
			width: 80%;

			//border-collapse: separate;
			//border-spacing: 0px;
			.maze-body {
				border-color: #00BB00;
				border-width: 2px;
				border-style: solid;

				.maze-row {
					.cell {
						margin: 0;
						padding: 0;

						border-color: aqua;
						border-width: 2px;
						border-style: solid;

						&.top-left {
							border-top-left-radius: 5px;
						}

						&.wall-right {
							border-right-color: gold;
						}

						&.wall-bottom {
							border-bottom-color: gold;
						}

						.cell-div {
							appearance: none;
							display: block;
							aspect-ratio: 1 / 1; // Makes it square.
							padding: 2px;

						}

						&[identifier="1"] .cell-div {
							background-color: white;
						}
						&[start="1"] .cell-div {
							background-color: #00FF00;
						}
						&[finish="1"] .cell-div {
							background-color: brown;
						}
					}
				}
			}
		}
	}
}

#Password {
	div.solution {
		text-transform: uppercase;
	}
}

input[type="text"] {
	color: $primary;
	//border-color: $primary;
	text-transform: uppercase;

	&:focus {
		color: $primary;
		border-color: $primary;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.2);
	}
}

button[type="reset"] {
	margin-top: -4px;
	margin-bottom: -4px;

	&::before {
		content: "Clear";
	}
}


$symbolFont: 'Times New Roman', Times, serif;

#Keypad {

	form {
		.btn {
			font-family: $symbolFont;
		}
	}

	div.solution {
		span {
			font-family: $symbolFont;

			&.selected {
				color: $black;
				background-color: $primary;
			}
		}
	}
}

input.btn-check:not(:checked)+.btn {
	&.colour-blue {
		color: $blue;
	}

	&.colour-white {
		color: $gray-400;
	}

	&.colour-yellow {
		color: $yellow;
	}

	&.colour-red {
		color: $red;
	}

	&.colour-black {
		color: $gray-600;
	}
}

input.btn-check:checked+.btn {
	&.colour-blue {
		background-color: $blue;
	}

	&.colour-white {
		background-color: $gray-400;
	}

	&.colour-yellow {
		background-color: $yellow;
	}

	&.colour-red {
		background-color: $red;
	}

	&.colour-black {
		background-color: $black;
		color: $gray-400;

	}
}